.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
tests/
/tests
solution/
/solution
reward.txt
/reward.txt
**/reward.txt
logs/
/logs
logs/verifier
/logs/verifier
output/
/output
ctrf.json
