target
**/target
.git
**/.git
.gitignore
**/.gitignore
.DS_Store
**/.DS_Store

.pytest_cache
**/.pytest_cache
__pycache__
**/__pycache__
*.pyc
**/*.pyc

solution
../solution
tests
../tests
instruction.md
../instruction.md
task.toml
../task.toml
dist
../dist
logs
../logs
