.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
node_modules/
.pytest_cache/
.mypy_cache/
.ruff_cache/
__pycache__/
*.pyc
.env
solution/
tests/
output_data/
