.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/.venv/
**/venv/
**/.Rhistory
**/.RData
**/.Rproj.user
**/renv/library/
**/node_modules/
*.log
.env
solution/
tests/
