.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
*.zip
*.tar
*.tar.gz
.DS_Store
logs/
failures/
solution/
tests/
**/.git/**
.env
**/.env
target/
dist/
build/
.venv/
venv/
**/.venv/
