.git
.gitignore
**/__pycache__
.pytest_cache
.mypy_cache
.ruff_cache
node_modules
*.zip
*.tar.gz
*.tar
.DS_Store
logs
failures
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/.git/**
.env
**/.env
solution/
tests/
target/
dist/
build/
.venv/
venv/
**/.venv/
