<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "urn:apple:plist:dtd">
<plist version="1.0"><dict>
  <key>com.apple.security.application-groups</key><array><string>group.com.acme.legacy</string></array>
  <key>keychain-access-groups</key><array><string>9JA89QQLNQ.com.acme.legacybridge</string></array>
  <key>aps-environment</key><string>production</string>
</dict></plist>
