.git
.gitignore
**/__pycache__/
**/*.pyc
**/.pytest_cache/
**/.mypy_cache/
**/.ruff_cache/
**/node_modules/
**/target/
**/dist/
**/build/
**/bin/
**/output/
**/.venv/
**/venv/
.env
*.log
*.o
solution/
tests/
